{% extends "base.html.jinja" %}
{% block content %}
    <p class="pt-2">Przejdź do 'Pobierz produkt', a następnie wklej kod produktu ze strony Ceneo.</p>
    <p>Gdzie znaleźć kod produktu? -> https://wwww.ceneo.pl/&ltkod produktu&gt</p>
{% endblock content %}